:root {
  --bg-100: hsl(222, 26%, 31%);
  --bg-200: hsl(223, 31%, 20%);
  --bg-300: hsl(224, 36%, 15%);

  --db-key-100: hsl(225, 21%, 49%);
  --db-key-200: hsl(224, 28%, 35%);

  --dr-key-100: hsl(6, 63%, 50%);
  --dr-key-200: hsl(6, 70%, 34%);

  --dg-key-100: hsl(30, 25%, 89%);
  --dg-key-200: hsl(28, 16%, 65%);

  --cl-100: hsl(221, 14%, 31%);
  --cl-200: hsl(0, 0%, 100%); 
  --cl-300: hsl(0, 0%, 100%); 

  --sb-100: hsl(224, 16%, 47%);
}

.theme2 {
  --bg-100: hsl(0, 0%, 90%);
  --bg-200: hsl(0, 5%, 81%);
  --bg-300: hsl(0, 0%, 93%);

  --db-key-100: hsl(185, 42%, 37%);
  --db-key-200: hsl(185, 58%, 25%);

  --dr-key-100: hsl(25, 98%, 40%);
  --dr-key-200: hsl(25, 99%, 27%);

  --dg-key-100: hsl(45, 7%, 89%);
  --dg-key-200: hsl(35, 11%, 61%);

  --cl-100:hsl(60, 10%, 19%);
  --cl-200: hsl(60, 10%, 19%);
  --cl-300: hsl(0, 0%, 100%); 

  --sb-100: hsl(225, 20%, 64%);
}

.theme3 {
  --bg-100: hsl(268, 75%, 9%);
  --bg-200: hsl(268, 71%, 12%);
  --bg-300: hsl(268, 71%, 12%);

  --db-key-100: hsl(281, 89%, 26%);
  --db-key-200: hsl(285, 91%, 52%);

  --dr-key-100: hsl(176, 100%, 44%);
  --dr-key-200: hsl(177, 92%, 70%);

  --dg-key-100: hsl(268, 47%, 21%);
  --dg-key-200: hsl(290, 70%, 36%);

  --cl-100: hsl(52, 100%, 62%);
  --cl-200: hsl(52, 100%, 62%);
  --cl-300: hsl(0, 0%, 100%); 

  --sb-100: hsl(225, 20%, 64%);
}


* {
  margin: 0;
  box-sizing: border-box;
}

